node_modules
.git
.gitignore
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log
yarn-debug.log
yarn-error.log
build
dist
.vscode
.idea
*.md
*.log
Dockerfile*
docker-compose*
README.md
.history
